/*Generic header info*/
header {
  display: flex;
  width: 90%;
  margin: 0 5%;
  top: 0;
  border-bottom: 1px solid #eeeded;
}

.leftBtn {
  background-color: #fff;
  width: 34px;
}

.devMountainLogo {
  font-family: "Lora", serif;
  font-size: 16.8px;
  line-height: 21px;
  color: #272727;
  margin: 0 auto 15px auto;
}

.rightBtn {
  margin: 0 5px 0 0;
  background-color: #fff;
  width: 34px;
}
/*//////////////////////////*/

/*Entry View Styles*/
  /*Header*/
  .leftBtnEntryView {
    background-image: url('../images/icons/Search.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .rightBtnEntryView {
    background-image: url('../images/icons/Ham.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  /*Body Styles*/
    /*Left Div*/
    .leftDivEntryView {
      margin: 0 61% 0 7.5%;
      min-width: 228px;
    }
    
    .leftPDivEntryView {
      display: block;
      margin: 45px 0 13px 0;
    }
        
    .leftPEntryView {
      margin: 0;
      font-family: "Lora", serif;
      font-size: 12.07px;
      line-height:  14px;
      color: #232323;
      text-align: center;
    }
    
    .leftPEntryView > span {
      color: #6CF9F0;
    }
    
    .leftInputEntryView {
      font-family: "Lora", serif;
      font-size: 16.8px;
      line-height: 21px;
      color: #b6b6b6;
      border: 1px solid #eeeded;
      width: 100%;
      height: 27px;
      margin: 0 0 8px 0;
    }
    
    #bioEntryView {
      height: 160px;
    }
        
    .buttonEntryView {
      font-family: "Lora", serif;
      font-size: 13.44px;
      line-height: 17px;
      color: #9a9a9a;
      background-color: #74fdf2;
      width: 99%;
      margin: 0 .5%;
      height: 26px;
    }


/*/////////////////////////*/

/*Bottom nav*/
.bottom-nav {
  position: fixed;
  display: flex;
  width: 80%;
  margin: 0 10%;
  bottom: 0;
  border-top: 2px solid #d7d7d7;
}

.nav-btn {
  margin: 20px auto 5px auto;
  justify-content: space-around;
  align-items: center;
  font-family: "OpenSans-Bold", sans-serif;
  color: #a9a9a9;
  background-color: #fff;
  font-size: 13.2px;
  line-height: 18px;
}

.nav-btn-selected {
  border-bottom: 3px solid #6CF9F0;
}
/*//////////////////////////*/

/*Generic Styles*/
* {
  box-sizing: border-box;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fffcf9;
  display: block;
}

html {
  border: 0;
  margin: 0;
  padding: 0;}

body {
  background-color: #fffcf9;
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;}