<!DOCTYPE html>
<html lang="en" ng-app="dev-mt-inApp">

<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <title>DevMtin</title>
</head>

<body ng-controller="mainCtrl" ng-switch="page"> 
  
  <!--EntryView details///////////////////////////////////////////////-->
  <div class="entryView" ng-switch-when="entryView">
    <header>
      <button class="leftBtn leftBtnEntryView"></button>
      <span class="devMountainLogo">DevMountain</span>
      <button class="rightBtn rightBtnEntryView"></button>
    </header>
    
    <div class="leftDivEntryView">
      <div class="leftPDivEntryView">
        <p class="leftPEntryView">Welcome to <span>DevMountain</span> Social</p>
        <p class="leftPEntryView">Add Some Info So Friends Can Find You</p>
      </div>
      <input type="text" placeholder=" Full Name" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Tagline" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Profile Image Url" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Bio" id="bioEntryView" class="leftInputEntryView"  ng-model="">
      <button class="buttonEntryView" ng-click="">Save Changes</button>
    </div>
    
    <div class="rightDivEntryView">
      <div class="rightDivTopEntryView">
      
        <div class="rightImgWrapperEV">
          <div class="rightImgBoxEV">
            <div class="rightImgPicEV"></div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <!--EntryView Details/////////////////////////////////////////////-->
	
  <footer class="bottom-nav">
    <button class="nav-btn nav-btn-selected" ng-click="viewFriends">View Friends</button>
    <button class="nav-btn" ng-click="findFriends">Find Friends</button>
    <button class="nav-btn" ng-click="updateProfile">Update Profile</button>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>

</body>

</html>
