<!DOCTYPE html>
<html lang="en" ng-app="dev-mt-inApp">

<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <title>DevMtin</title>
</head>

<body ng-controller="mainCtrl" ng-switch="page"> 
  
  <!--EntryView details///////////////////////////////////////////////-->
  <div class="entryView" ng-switch-when="entryView">
    <header>
      <button class="leftBtn searchIcon"></button>
      <span class="devMountainLogo">DevMountain</span>
      <button class="rightBtn hamIcon"></button>
    </header>
    
    <div class="leftDivEntryView">
      <div class="leftPDivEntryView">
        <p class="leftPEntryView">Welcome to <span>DevMountain</span> Social</p>
        <p class="leftPEntryView">Add Some Info So Friends Can Find You</p>
      </div>
      <input type="text" placeholder=" Full Name" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Tagline" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Profile Image Url" class="leftInputEntryView" ng-model="">
      <input type="text" placeholder=" Bio" id="bioEntryView" class="leftInputEntryView"  ng-model="">
      <button class="buttonEntryView" ng-click="">Save Changes</button>
    </div>
    
    <div class="rightDivEntryView">
      <div class="rightDivTopEntryView">
      
        <div class="rightImgWrapperEV">
          <canvas id="canvasEV"></canvas>
        </div>
        
      </div>
    </div>
    
  </div>
  <!--EntryView Close/////////////////////////////////////////////-->
  
  <!--Landing Page //////////////////////////////////////////////////-->
  <div class="landingPage" ng-switch-when="landingPage">
    
    <header>
      <button class="leftBtn triangleIcon"></button>
      <span class="devMountainLogo">DevMountain</span>
      <button class="rightBtn searchIcon"></button>
    </header>
    
    <div class="leftDivLP">
      <p class="nameLP">Chris Johnson</p>
      <p class="taglineLP">Some Awesome Tagline About You</p>
      <p class="bioLP">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare risus vel porta imperdiet. Praesent vehicula magna et nibh finibus, et consectetur dolor aliquet. In mollis risus eu luctus pellentesque. Nullam consectetur leo leo, nec facilisis risus varius sed. Vivamus in consectetur massa. Integer tincidunt porta neque eu venenatis. Morbi vestibulum libero nibh, at tristique felis sollicitudin porttitor. Etiam cursus eleifend nunc. Morbi vulputate condimentum lectus et cursus.
      <br>
      <br>
      Donec sit amet euismod dolor. Curabitur suscipit luctus mi quis interdum. In massa ante, rhoncus sit amet odio vel, laoreet sollicitudin massa. Integer sagittis sit amet libero id varius. Curabitur volutpat risus eget felis ultricies, tincidunt rhoncus leo interdum. In finibus faucibus elementum. Maecenas rhoncus, eros id tincidunt consequat, sem magna porta neque, ac hendrerit justo lorem id tortor. </p>
    </div>
    
    <div class="rightDivLP">
      
    </div>
    
  </div>
  <!--Landing Page End //////////////////////////////////////////-->
  
	
  <footer class="bottom-nav">
    <button class="nav-btn nav-btn-selected" ng-click="viewFriends">View Friends</button>
    <button class="nav-btn" ng-click="findFriends">Find Friends</button>
    <button class="nav-btn" ng-click="updateProfile">Update Profile</button>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>
  <script src="js/triangleImage.js"></script>

</body>

</html>
